@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/products.css" />

<h2 class="p-title">Our Products</h2>

<div class="product-page">

    <!-- FILTER -->

    <div class="filter">

        <h4>Filters</h4>

        <input type="text" placeholder="Search products..." />

        <select>
            <option>All Categories</option>
        </select>

        <p>Price Range: ₹0 - ₹10000</p>

    </div>

    <!-- PRODUCTS -->

    <div class="product-list">

        <a href="/Product/ProductDetails" class="card-link">
            <div class="p-card">
                <img src="~/images/engine.jpg" />
                <h4>Engine Oil Filter</h4>
                <p class="desc">High-quality filter.</p>
                <div class="bottom">
                    <span>₹499</span>
                    <button>Add</button>
                </div>
            </div>
        </a>

        <a href="/Product/ProductDetails" class="card-link">
            <div class="p-card">
                <img src="~/images/brake.jpg" />
                <h4>Brake Disc Set</h4>
                <p class="desc">Premium brake disc.</p>
                <div class="bottom">
                    <span>₹2999</span>
                    <button>Add</button>
                </div>
            </div>
        </a>

        <a href="/Product/ProductDetails" class="card-link">
            <div class="p-card">
                <img src="~/images/tyre.jpg" />
                <h4>All Season Tyre</h4>
                <p class="desc">Durable tyre.</p>
                <div class="bottom">
                    <span>₹4500</span>
                    <button>Add</button>
                </div>
            </div>
        </a>

        <a href="/Product/ProductDetails" class="card-link">
            <div class="p-card">
                <img src="~/images/light.jpg" />
                <h4>LED Headlight</h4>
                <p class="desc">Bright LED headlight.</p>
                <div class="bottom">
                    <span>₹1899</span>
                    <button>Add</button>
                </div>
            </div>
        </a>

        <a href="/Product/ProductDetails" class="card-link">
            <div class="p-card">
                <img src="~/images/engine.jpg" />
                <h4>Spark Plug Set</h4>
                <p class="desc">High performance.</p>
                <div class="bottom">
                    <span>₹799</span>
                    <button>Add</button>
                </div>
            </div>
        </a>

        <a href="/Product/ProductDetails" class="card-link">
            <div class="p-card">
                <img src="~/images/brake.jpg" />
                <h4>Brake Pads</h4>
                <p class="desc">Ceramic pads.</p>
                <div class="bottom">
                    <span>₹1299</span>
                    <button>Add</button>
                </div>
            </div>
        </a>

    </div>

</div>