@model SpareKartAdmin.Controllers.Product
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/addProduct.css" />

<h4>Add New Product</h4>

<form method="post">
	<div class="form-box">

		<input asp-for="Name" class="form-control" placeholder="Product Name" />
		<input asp-for="Category" class="form-control mt-2" placeholder="Category" />
		<input asp-for="Price" class="form-control mt-2" placeholder="Price" />
		<input asp-for="Stock" class="form-control mt-2" placeholder="Stock" />

		<button class="btn btn-primary mt-3">Add Product</button>
		<a href="/Product" class="btn btn-secondary mt-3">Cancel</a>

	</div>
</form>