@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/css/adminProduct.css" />

<h4>Manage Products</h4>

<input type="text" class="form-control search-box" placeholder="Search products..." />

<a href="/Admin/AddProduct" class="btn btn-primary mb-2">+ Add Product</a>

<div class="product-box mt-3">

	<table class="table">

		<tr>
			<th>Image</th>
			<th>Name</th>
			<th>Category</th>
			<th>Price</th>
			<th>Stock</th>
			<th>Actions</th>
		</tr>

		<tr>
			<td><img src="/images/p1.jpg" class="product-img"></td>
			<td>Engine Oil Filter</td>
			<td><span class="badge-blue">Engine</span></td>
			<td>₹499</td>
			<td><span class="badge-green">50</span></td>
			<td>
				<a href="/Admin/EditProduct" class="btn btn-sm btn-primary">Edit</a>
				<a href="/Admin/Products" class="btn btn-sm btn-danger">Delete</a>
			</td>
		</tr>

	</table>

</div>