.form-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 5px lightgray;
    width: 600px;
    margin: auto;
}

.btn-blue {
    background: #2563eb;
    color: white;
    width: 48%;
}

.btn-outline {
    border: 1px solid #2563eb;
    color: #2563eb;
    width: 48%;
}
