.admin-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px lightgray;
}

.admin-lowstock {
    background: white;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 5px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.admin-sidebox {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px lightgray;
    margin-bottom: 15px;
}
